@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.line-1 {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

table{
    width: 100%;
    
}
table p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


@import '../node_modules/bootswatch/dist/slate/variables';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootswatch/dist/slate/bootswatch';

